@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
  .siteHeader {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .siteNav {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    background: #333;
    width: 100%;
  }
}
.siteHeader {
  background: #0D1313;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
}

.siteNav ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.siteNav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #CDD0D0;
  padding: 20px;
  display: inline-block;
}
.siteNav .active a {
  font-weight: bold;
  color: #62DEBE;
  background: #14604c;
}

.accountActions {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.accountDropdown{
  position: relative;
}

.accountDropdown ul {
  display: block;
  background: #222;
  color: #CDD0D0;
  position: absolute;
  right: 1400px;
}

.accountDropdown:hover ul, .newBathroomForm:hover {
  display: flex;
  width: 500px;
  position: absolute;
  top: 21px;
  right: -72px;
  list-style-type: none;
}

.signOutLink {
  color: #62DEBE;
  font-size: 0.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}
